.features {
  flex-wrap: wrap;

  &__item {
    flex: 1 1 50%;
    align-self: center;
    
    &:nth-child(1), &:nth-child(4) {
      padding: 4rem 8rem 3rem 6rem;
      background-color: lighten($Yellow, 50%);
    }

    &:nth-child(5), &:nth-child(6) {
      position: relative;
    }
    
    img {
      width: 100%;
      vertical-align: middle;
    }
    
    // &:nth-child(2) {
    //   order: 1;
    // }
    
    // &:nth-child(1), &:nth-child(4) {
    //   // height: 34rem;
    //   padding: 4rem 0rem;
    // }

    h2 {
      margin: 0;
      text-align: left;
      font-size: 2.75rem;
      font-style: oblique;
      word-wrap: break-word;
    }
    
    p {
      padding: 2.125rem 0rem 2.875rem;
      margin: 0;
      font-size: 1.175rem;
      line-height: 1.6;
      color: $Dark-grayish-blue;          
    }

    a {
      color: $Very-dark-desaturated-blue;
      text-transform: uppercase;
      font-family: 'Fraunces', sans-serif;
      letter-spacing: 1px;
      padding-left: 1rem;
    }

    &__absolute {
      position: absolute;
      bottom: 0;
      width: 100%;

      h3 {
        margin: 0;
        font-size: 2rem;
        color: $Very-dark-desaturated-blue;
      }

      p {
        font-size: $font-md;
        padding: 2rem 10rem 2rem;
        text-align: center;

        &:first-child {
          color: $Dark-desaturated-cyan;
        }
        
        &:last-child {
          color: $Very-dark-desaturated-blue;
          // padding: 2rem 9rem 2rem;
        }
      }
    }
  }
    
  //   }
  // }

  @include breakpoint-down(medium) {
    .features {
      &__item {

        &__absolute {
    
          h3 {
            font-size: 1.125rem;
          }
    
          p {
            font-size: $font-sm;
            padding: 0.875rem 2rem 1rem;
        }
      }
      }
    }
  }

  @include breakpoint-down(small) {
    .features {

      &__item {
        flex: 1 1 100%;
        text-align: center;
    
        // &:nth-child(5) {
        //   background: #99d9c9;
        // }
    
        // &:nth-child(6){
        //   background: #64ccff;
        // }
    
        &:nth-child(5), &:nth-child(6) {
          position: relative;
        }
        
        img {
          width: 100%;
          vertical-align: middle;
        }
        
        &:nth-child(2) {
          order: -1;
        }
        
        &:nth-child(1), &:nth-child(4) {
          // height: 34rem;
          padding: 4rem 0rem;
          // background-color: lighten($Yellow, 50%);
        }
    
        h2 {
          margin: 0;
          text-align: center;
          font-size: $font-lg;
          font-style: oblique;
          word-wrap: break-word;
          padding: 0 1.625rem;
        }
        
        p {
          padding: 2.125rem 2rem 2.875rem;
          margin: 0;
          font-size: 1.4rem;
          line-height: 1.6;
          font-weight: 200;
          color: $Dark-grayish-blue;          
        }
    
        a {
          color: $Very-dark-desaturated-blue;
          text-transform: uppercase;
          font-family: 'Fraunces', sans-serif;
          letter-spacing: 1px;
        }
    
        &__absolute {
          position: absolute;
          width: 100%;
          bottom: 0;
    
          h3 {
            margin: 0;
            font-size: 2rem;
            color:$Very-dark-grayish-blue;
          }
    
          p {
            font-size: $font-md;
            padding: 2rem 1.375rem 4rem;
    
            &:first-child {
              color: $Dark-desaturated-cyan;
            }
            
            &:last-child {
              color: $Dark-blue;
            }
          }
        }
      }
    }
  }
}


@media (min-width: 845px) and (max-width: 1148px) {
  // .features__item:nth-child(1), .features__item:nth-child(4) {
  //   padding: 4rem 8rem 3rem 6rem;
  //   background-color: #fffefa;
  // }
  .features {
  
    &__item {
      
      &:nth-child(1), &:nth-child(4) {
        padding: 1rem 2rem 2rem 2rem;
      }

      &__absolute {

  
        h3 {
          font-size: 2rem;
        }
  
        p {
          font-size: $font-md;
          padding: 1rem 3rem 2rem;

        }
      }
    }
  }
}